<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaysLeft.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaysLeft.My.MySettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EventName1" serializeAs="String">
                <value />
            </setting>
            <setting name="EventName2" serializeAs="String">
                <value />
            </setting>
            <setting name="EventName3" serializeAs="String">
                <value />
            </setting>
            <setting name="EventName4" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate1" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate2" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate3" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate4" serializeAs="String">
                <value />
            </setting>
            <setting name="EventName5" serializeAs="String">
                <value />
            </setting>
            <setting name="EventName6" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate5" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetDate6" serializeAs="String">
                <value />
            </setting>
        </DaysLeft.My.MySettings>
    </userSettings>
</configuration>
